<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Homeford Univerity</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../../../css/style.css">
		<script type="text/javascript" src="http://use.typekit.com/vay3siw.js"></script>
		<script type="text/javascript">
			try {
				Typekit.load();
			} catch(e) {
			}
		</script>

		<meta name="description" content=""/>

		<script type='text/javascript' src='../../../js/modernizr-2.5.3.min.js'></script>
		<script type='text/javascript' src='../../../js/spin.min.js'></script>
		<script type='text/javascript' src='../../../js/jquery.js'></script>
		<script type='text/javascript' src='../../../js/jquery-migrate.min.js'></script>
		<script type='text/javascript' src='../../../js/bloodhound.js'></script>
		<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
		<script type="text/javascript" src="../../../js/jquery.hashchange.js"></script>
		<script type="text/javascript" src="../../../js/jquery.router.js"></script>
		<script type="text/javascript" src="../../../js/slickQuiz.js"></script>
		<script type="text/javascript" src="../../../js/slickQuiz-config.js"></script>

	</head>

	<body class="home page page-id-8 page-template page-template-work-php">

		<noscript>
			<div id="noscript-warning">
				This website works best with JavaScript enabled
			</div>
		</noscript>

		<div id="project-nav">

			<div id="back-to-work">
				<a href="/green/view/class/">Back</a>
			</div>

			<div id="project-page-logo" class="ir">
				<a href=""></a>
				<h1>Homeford University</h1>
			</div>

			<div id="project-dropdown">
				<a href="#">Maths &nbsp;<span>Basic</span></a>
				<ul>
					<li>
						<a href="../colors">Colors</a>
					</li>
					<li>
						<a href="../numbers">Numbers</a>
					</li>

					<li class="back">
						<a href="../../class">Back to Class</a>
					</li>
				</ul>
			</div>

			<div id="share-project">
				<div id="progressBar"><div></div></div>
			</div>

		</div>
		<div id="wrapper" class="hidden">
			<div id="carousel">
				<div class="empty"></div>
				<div class="quizboard" id="quizboard-template">
					<span class="qtnnumber">#1</span>
					<span class="qtn">Question</span>
					<span>
						<input class="option1 answer-option" type="button" value="option 1" />
						<input class="option2 answer-option" type="button" value="option 2" />
					</span>
					<span>
						<input class="option3 answer-option" type="button" value="option 3" />
						<input class="option4 answer-option" type="button" value="option 4" />
					</span>
				</div>
				</div>
		</div>
		<div id="slider-container">
			<div id="wrapper-touch" class="hidden" >
				<ul>
					<li class="quizboard">
						<a> <span class="heading"></span>
						<br />
						<img style="background-color: white"/> 
						<span class="qtnnumber">#3</span>
						<span class="qtn">Question</span>
						<span>
							<input class="option1 answer-option" type="button" value="option 1" />
							<input class="option2 answer-option" type="button" value="option 2" />
						</span>
						<span>
							<input class="option3 answer-option" type="button" value="option 3" />
							<input class="option4 answer-option" type="button" value="option 4" />
						</span></a>
					</li>
					<li>
						<a href=""> <span class="heading">test</span>
						<br />
						<img style="background-color: white" src="" alt="QuizBoard-Slide" /> </a>
					</li>
					<li>
						<a href=""> <span class="heading"></span>
						<br />
						<img style="background-color: white" src="" alt="QuizBoard-Slide" /> </a>
					</li>
				</ul>
			</div>
		</div>

		<!-- <a href="#" id="prev"></a>
		<a href="#" id="next"></a> -->

		<div id="touch-instruction">
			<p>
				Swipe to navigate
			</p>
		</div>
		<div id="preloader"></div>

		<div id="touch-instruction">
			<p>
				Swipe to navigate
			</p>
		</div>

		<script type='text/javascript' src='../../../js/plugins-min.js'></script>
		<script type='text/javascript'>
			/* <![CDATA[ */
			var work_script_params = {
				"workBg" : "..\/..\/..\/img\/classbg.png",
				"carouselurl" : "..\/..\/..\/js\/jquery.carousel.min.js",
				"swipejsurl" : "..\/..\/..\/js\/swipe.min.js"
			};
			/* ]]> */
		</script>
		<script type='text/javascript' src='teacher.js'></script>
	</body>
	<footer>
		<div id="contact-info">
			123.456.7890 &nbsp;&nbsp; <a id="contact-email" target="_blank">info@homeford.com</a>
			<span class="ss-social"> <a href="http://www.facebook.com" target="_blank"><img src="../../../img/ss-facebook.png" alt="facebook"></a> <a href="http://www.twitter.com" target="_blank"><img src="../../../img/ss-twitter.png" alt="twitter"></a> <a href="http://pinterest.com/" target="_blank"><img src="../../../img/ss-pinterest.png" alt="pinterest"></a> </span>
		</div>
		<div id="copyright">
			&copy; Homeford University 2014
		</div>
	</footer>
</html>